<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(sys.CURRENTDIR)\Include.wxi?>
	<Fragment>
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFiles64Folder' Name='PFiles'>
				<Directory Id='WindowsServerDir' Name='Windows Server'>
					<Directory Id='WindowsServerBinDir' Name='Bin'>
						<Component Id='WebDavWhs.dll' Guid='{DB696CDD-B10A-436A-88DE-A8E45A929620}' Shared='yes' Win64='yes'>
							<RemoveFolder Id='RemWEBDAV4WHS' On='uninstall' />
							<File Id='WebDavWhs.dll' Source='$(var.SourceDir)\WebDavWhs.dll' KeyPath='yes' />
						</Component>
						<Directory Id='DE' Name='de'>
							<Component Id='WebDavWhs.resources.dll_de' Guid='{5AE19186-DA5C-4446-B5D4-72F77567B4D6}' Shared='yes' Win64='yes'>
								<File Id='WebDavWhs.resources.dll_de' Source='$(var.SourceDir)\de\WebDavWhs.resources.dll' KeyPath='yes' />
							</Component>
						</Directory>
						<Directory Id='WindowsServerAddinsDir' Name='Addins'>
							<Directory Id='WindowsServerStorageDir' Name='Storage'>
								<Component Id='WebDavWhs.addin' Guid='{5A9D8EB7-C641-4383-A83B-368DE2470100}' Shared='yes' Win64='yes'>
									<File Id='WebDavWhs.addin' Source='$(var.SourceDir)\WebDavWhs.addin' KeyPath='yes' />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>