<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Fragment>
		
		<!--Installs Server roles-->
		<CustomAction Id="ServerRoles" BinaryKey="CustomAction" DllEntry="CreateProcess" Execute="deferred" Impersonate="no" Return="ignore" />
		<CustomAction Id="ServerRoles_set" Property="ServerRoles" Value="App=dism.exe;Args=/online /enable-feature /featurename:IIS-WebDAV /featurename:IIS-ManagementScriptingTools /featurename:IIS-URLAuthorization" Execute="immediate" />

		<InstallExecuteSequence>
			<Custom Action="ServerRoles_set" After="InstallInitialize"><![CDATA[NOT Installed]]></Custom>
			<Custom Action="ServerRoles" After="ServerRoles_set"><![CDATA[NOT Installed]]></Custom>
		</InstallExecuteSequence>

		<!--Custom Action DLL-->
		<Binary Id="CustomAction" SourceFile="..\Tools\WebDavWhs.CustomAction.CA.dll" />

	</Fragment>
</Wix>