<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(sys.CURRENTDIR)\version.wxi?>
	
	<Product Id="*" Name="!(loc.ProductName)" Language="!(loc.LANG)" Version="$(var.ProductVersion)" Manufacturer="!(loc.Manufacturer)" Codepage="1252" UpgradeCode="9cbedbdd-ca47-4c9b-9fe0-347ac11527c6">
		<Package Keywords="Installer" InstallerVersion="405" Compressed="yes" SummaryCodepage="1252" Languages="!(loc.LANG)" Platform="$(var.MSIPlatform)" Description="!(loc.Description)" Comments="!(loc.Comments)" />
		<Media Id="1" Cabinet="Data1.cab" EmbedCab="yes" />

		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='version.wxi'/>
		</Feature>



		<DirectoryRef Id="TARGETDIR"/>
		<CustomActionRef Id="ServerRoles" />

		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
		<Property Id="ALLUSERS" Value="1" />
		<Property Id="MsiLogging" Value="voicewarmupx!" />


	</Product>
</Wix>